name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  style:
    runs-on: ubuntu-latest
    name: Check Style
    env:
      MIX_ENV: test
      CI: "true"
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: '27'
          elixir-version: '1.18'
      - run: mix deps.get --only dev
      - run: mix format --check-formatted
      - run: mix credo --strict

  test:
    runs-on: ubuntu-latest
    name: Tests on latest version
    env:
      MIX_ENV: test
      CI: "true"
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: '27'
          elixir-version: '1.18'
      - run: rm mix.lock
      - run: mix deps.get --only test
      - run: mix compile --force --warnings-as-errors
      - run: mix test --warnings-as-errors
      - run: BLEND=phoenix_live_view_v0_18 mix test --warnings-as-errors
      - run: BLEND=phoenix_live_view_v0_19 mix test --warnings-as-errors
      - run: BLEND=phoenix_live_view_v0_20 mix test --warnings-as-errors
